*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/images/chinatown2.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    
}
h1{
    height: 8vh;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 50px;
}
p{
    padding: 10px;
    font-size: 20px;
    color:white;
}
.container{
    height: 100vh;
}

ul.nav-bar li{
    display: flex;
    height: 7vh;
    width: 7rem;
    justify-content: center; 
    align-items: center;
    font-size: 3vh;
}

#home{
    margin-left: 70px;
}
#donate{
    margin-right: 70px;
}

a{
    text-decoration: none;
    color: rgb(53, 43, 43);
}
a:hover{

   font-size: larger;
    color: rgb(102, 96, 96);
    text-decoration: underline;
}


.nav-bar{
   
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgb(192, 233, 238);
    
}

.section{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
}

.link {
    
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.link{
    background-color: rgb(240, 216, 34); 
    color: black; 
    border-radius: 50%;
    margin-left: 45%;
   
  }
  .link:hover {
    background-color: #008CBA;
    color: white;
  }

.left-side-bullet-points {
  padding: 10px;
  font-size: 20px;
  color:white;
}

.donate{
  padding-top: 300px;
}


